<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ioc.Modules" version="1.0.9" targetFramework="net40" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Owin.Framework" version="1.0.0" targetFramework="net40" />
  <package id="Svg" version="2.2.1" targetFramework="net40" />
</packages>